<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/headlink.ejs') %>
</head>

<body>
    <%- include('../partials/userheader.ejs') %>
        <div class="breadcrumb">
            <div class="breadcrumb-content">
                <h2>About-us</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>About-us</li>
                </ol>
            </div>
        </div>
        <div class="container">
            <div class="content text-center">
                <h1 class="mt-4">Home Care Services in Jaipur with Home Treat</h1>
                <p>We are Home Treat, an innovative company that focuses on <strong>home care services in
                        Jaipur</strong> and its
                    suburbs. We aim to provide warm and individualized care that encourages people to live with
                    self-respect
                    and independence within their homes. Over the years, we have managed to grow into one of the
                    foremost
                    companies in nursing care at home in Jaipur, as well as patient care services in the entire region
                    of
                    Jaipur and beyond, thanks to our experience and highly qualified staff.</p>
                <h3 class="mt-4">Our Vision</h3>
                <p>Our objective is to grow as the most satisfactory and trusted <strong>home health care service
                        provider in Jaipur</strong> while promoting health and happiness of every person.</p>
                <div class="row">
                    <div class="col-lg-12 col-xl-3">
                        <div class="about-img">
                            <img src="/media/image/home-care-about-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-3">
                        <div class="about-img">
                            <img src="/media/image/home-care-about-2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-3">
                        <div class="about-img">
                            <img src="/media/image/home-care-about-3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-3">
                        <div class="about-img">
                            <img src="/media/image/home-care-about-4.jpg" alt="">
                        </div>
                    </div>
                </div>
                <h3 class="mt-4">Our Mission</h3>
                <p>Our purpose is to provide care services and treatment that are specific to individual requirements
                    and requirements of the family. To involve the family into the treatment process by providing a
                    range of professional services at
                    the highest level. To alleviate the relatives’ anxiety by providing them with good care and adequate
                    services.
                </p>
                <div class="row">
                    <div class="col-lg-12 col-xl-3">
                        <div class="about-img">
                            <img src="/media/image/home-care-about-5.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-3">
                        <div class="about-img">
                            <img src="/media/image/home-care-about-6.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-3">
                        <div class="about-img">
                            <img src="/media/image/home-care-about-7.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-3">
                        <div class="about-img">
                            <img src="/media/image/home-care-about-8.jpg" alt="">
                        </div>
                    </div>
                </div>
                <h3 class="mt-4">Who we are ?</h3>
                <p>In Jaipur, we are considered one of the most reliable <strong>nursing and home care service
                        providers</strong> . Our
                    staff consists of professionals who are highly skilled and have a wealth of experience in the
                    relevant area. We personalize every interaction, as every caregiver is trained to be compassionate
                    and professional. So, whether you require <strong> home nursing services in Jaipur</strong> for your
                    medical needs or
                    require a trustworthy caretaker in Jaipur for everyday activities, we are here to assist you.</p>
                <h2 class="mt-4">Why Choose Us?</h2>
                <ul>
                    <li class="mt-3 text-start"><i class="fa-solid fa-circle-check success"></i>We have a team that
                        consists of certified professionals who have the expertise in providing quality <strong>nursing care at home in Jaipur</strong> .</li>
                    <li class="mt-3 text-start"><i class="fa-solid fa-circle-check success"></i>We take gentle care of
                        our patients for post-operative recovery at home in Jaipur to providing specialized <strong>healthcare services at home
                            in Jaipur</strong>  shouts at amazing deals.</li>
                    <li class="mt-3 text-start"><i class="fa-solid fa-circle-check success"></i>We are for every one
                        there are no hidden charges with us making it simple and clean.
                    </li>
                    <li class="mt-3 text-start"><i class="fa-solid fa-circle-check success"></i>There are hundreds of
                        families in Jaipur who vouch for our services and trust us taking care of <strong>home health services</strong> .</li>
                    <li class="mt-3 text-start"><i class="fa-solid fa-circle-check success"></i>All staff members
                        including me are responsible for providing high-quality, dignified, and respectful services to our clients. You are openly
                        given an assurance that while working with us trust is vital as your needs and your loved ones'
                        needs come first.
                    </li>
                </ul>
            </div>
        </div>
        <%- include('../partials/midsection.ejs') %>
        <%- include('../partials/footer.ejs') %>
        <%- include('../partials/book-popup.ejs') %>
        <%- include('../partials/javaScript.ejs') %>
</body>

</html>