<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Home Care Nursing Services | Health Care at Home in Jaipur</title>
    <meta name="description" content="Are you Looking for Home Care Nursing Services in jaipur then Home Treat Offers Patient Care Services at Your Home by Experienced Nursing Staff in Jaipur." />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <meta property="og:title" content="Home Care Nursing Services | Health Care at Home in Jaipur" />
    <meta property="og:description" content="Are you Looking for Home Care Nursing Services in jaipur then Home Treat Offers Patient Care Services at Your Home by Experienced Nursing Staff in Jaipur." />
    <meta property="og:image" content="https://hometreat.in/media/icon/logo-header.png" />
    <meta property="og:url" content="https://www.hometreat.in/" />
    <meta property="og:type" content="website" /> 
    <meta property="og:site_name" content="Home treat" />

    <%- include('../partials/headlink.ejs') %>
</head>

<body>
    <%- include('../partials/userheader.ejs') %>

    <div class="banner">
        <div class="swiper bannerSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="banner-img">
                        <img src="/media/banner/homecare-banner.png" alt="homecare-banner">
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="container">
        <div class="main-heading">
            <h1>Home Care Services in Jaipur</h1>
            <p>Hello to the most professional <strong>Home care services in Jaipur</strong>. Our goal here is to be able
                to attend the care needs of the clients in a way that is best, most specialized and professional. We
                also provide qualified <strong>home health care-services in Jaipur</strong> – if you need a <strong>home
                    nurse in Jaipur</strong>,
                or <strong>caretaker in Jaipur</strong> you’ve come to the right place.
            </p>
            <button class="btn-book"><i class="fa-solid fa-phone-volume me-2"></i> Book Now</button>
            <a href="https://wa.me/7014434374" target="_blank">
                <button class="Whatapp-btn"><i class="fa-brands fa-whatsapp me-2"></i> What's app</button>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="Features">
            <div class="row">
                <h2 class="mb-5">Benefits of Our Home Nursing Services in Jaipur</h2>
                <div class="col-lg-12 col-xl-4">
                    <div class="Benefits">
                        <div class="Benefits-icon">
                            <i class="fa-solid fa-award"></i>
                        </div>
                        <div class="Benefits-content">
                            <h5>Skilled Care from Qualified Nurses</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-4">
                    <div class="Benefits">
                        <div class="Benefits-icon">
                            <i class="fa-solid fa-house-circle-check"></i>
                        </div>
                        <div class="Benefits-content">
                            <h5>Avail the benefits of speedy recovery without stepping out of your home</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-4">
                    <div class="Benefits">
                        <div class="Benefits-icon">
                            <i class="fa-solid fa-user-shield"></i>
                        </div>
                        <div class="Benefits-content">
                            <h5>Faster, better, and more convenient when done at home.</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="contact-section">
        <div class="contact-section-content">
            <h4>Get in Touch</h4>
            <p>Home Treat, an innovative company that focuses on <strong>home care services in Jaipur</strong>  and its
                suburbs. We aim to provide warm and individualized care that encourages people to live with self-respect
                and independence within their homes. Over the years, we have managed to grow into one of the foremost
                companies in nursing care at home in Jaipur, as well as patient care services in the entire region of
                Jaipur and beyond, thanks to our experience and highly qualified staff.</p>
           <a href="/contact-us"><button class="btn-standar">Contant-us</button></a> 
        </div>
    </div>
    <div class="container">
        <div class="row my-4 align-items-center">
            <div class="col-lg-12 col-xl-6">
                <div class="border-container">
                    <img src="/media/image/home-healthcare.jpg" alt="health-care">
                </div>
            </div>
            <div class="col-lg-12 col-xl-6">
                <h2>Patient Care Services in Jaipur</h2>
                <p>All of our <strong>patient care services in Jaipur</strong> are aimed at providing comfort, as well
                    as care and
                    treatment within the familiar surroundings of the patient’s home. We treat our patients especially
                    those with post- surgical cases, the elderly, and those with chronic diseases, with both care and
                    professionalism.</p>
                <h2>Nursing Care at Home in Jaipur</h2>
                <p>Searching for professional <strong>nursing care at home in Jaipur</strong> is easier than ever. As
                    for the cares
                    given by our skilled nursing team the services include administration of medication, dressing of
                    wounds, managing intravenous therapies and vital signs examination.

            </div>
        </div>
    </div>
    <div class="service-plan">
        <h4>Our Home Care Service Plan</h4>
        <div class="container">
            <table class=" rate-list table table-hover">
                <tr>
                    <td>
                        <p>1 Hour Visit <i class="fa-solid fa-clock-rotate-left"></i></p>
                        <p>500 <i class="fa-solid fa-indian-rupee-sign"></i></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>2 Hour Visit <i class="fa-solid fa-clock-rotate-left"></i></p>
                        <p>900 <i class="fa-solid fa-indian-rupee-sign"></i></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>6 Hour Visit <i class="fa-solid fa-clock-rotate-left"></i></p>
                        <p>1100 <i class="fa-solid fa-indian-rupee-sign"></i></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>12 Hour Visit <i class="fa-solid fa-clock-rotate-left"></i></p>
                        <p>1500 <i class="fa-solid fa-indian-rupee-sign"></i></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>24 Hour Visit <i class="fa-solid fa-clock-rotate-left"></i></p>
                        <p>2500 <i class="fa-solid fa-indian-rupee-sign"></i></p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <h3 class="text-center my-4 py-4">Why Choose Our Patient Care Services? </h3>

            <div class="row justify-content-center g-3 mb-5">
                <div class="col-lg-12 col-xl-3">
                    <div class="achievement-item">
                        <i class="fa-solid fa-house-circle-check"></i>
                        <h6 class="mt-3">24/7 availability.
                        </h6>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-3">
                    <div class="achievement-item">
                        <i class="fa-solid fa-award"></i>
                        <h6 class="mt-3">Regular health check-ups.</h6>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-3">
                    <div class="achievement-item">
                        <i class="fa-regular fa-calendar-plus"></i>
                        <h6 class="mt-3">Physiotherapy sessions.</h6>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-3">
                    <div class="achievement-item">
                        <i class="fa-solid fa-users-line"></i>
                        <h6 class="mt-3">Mental health support.</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-6">
                    <h3>Nursing Staff for Home Care in Jaipur</h3>
                    <p>We have well experienced <strong>professional Nurses in home care services in Jaipur</strong> to
                        take
                        care medical
                        as well as non medical requirements. Whether getting around, eating, dressing or just about
                        anything, we guarantee the highest health outcomes for our clients.</p>
                    <h3>Home Care Nursing Services in Jaipur</h3>
                    <p>These <strong>Jaipur home care nursing services</strong> understand the comfort and health of the
                        clients. With a focus on personalized care, we provide:
                    <ul>
                        <li><i class="fa-solid fa-circle-check success"></i>Elderly care services.</li>
                        <li><i class="fa-solid fa-circle-check success"></i>Patient care after surgery.</li>
                        <li><i class="fa-solid fa-circle-check success"></i>Chronic disease management.</li>
                    </ul>
                    </p>
                    <h3>Care taker in Jaipur</h3>
                    <p>Seeking a reliable <strong>caretaker in Jaipur</strong>? Our staff is experienced to provide
                        individual assistance with daily activities and the overall comfort of you and your family
                        members.
                    </p>
                    <strong>Our Caretaker Services Include:</strong>
                    <ul>
                        <li><i class="fa-solid fa-circle-check success"></i>Help in washing and cleaning the body.</li>
                        <li><i class="fa-solid fa-circle-check success"></i>Meal preparation and feeding.</li>
                        <li><i class="fa-solid fa-circle-check success"></i>Company and satisfaction.</li>
                    </ul>
                </div>
                <div class="col-lg-12 col-xl-6">
                    <h3>Health Care at Home Jaipur</h3>
                    <p>Get the best <strong>Health care at home in Jaipur</strong> from our experienced staff. We offer
                        medical and non medical assistance according to your requirements.

                    </p>
                    <h3>Home Health Care Services in Jaipur</h3>
                    <p>The <strong>Home Health care services in Jaipur</strong> that we provide include Medication
                        Management and supportive care services. For people who have a chronic illness and experience
                        some complications or for those whom it is necessary to come to after surgery Rehabilitation is
                        also available.

                    </p>
                    <h3>Home Care Assistance
                    </h3>
                    <p>With our <strong>home care assistance</strong>, you can rest assured that your loved ones are in
                        safe hands. From basic daily activities to advanced medical care, we offer a full spectrum of
                        services.

                    </p>
                    <h3>Home Care Agencies Near Me
                    </h3>
                    <p>Looking for <strong>home care agencies near me</strong>? Look no further! Our services are
                        stretch across Jaipur city, making professional care come knocking at your door.

                    </p>
                </div>
            </div>
            <h3 class="text-center my-4 py-4">Why Choose Us?</h3>
            <ul>
                <li><i class="fa-solid fa-circle-check success"></i>Both highly skilled and friendly staff.</li>
                <li><i class="fa-solid fa-circle-check success"></i> Customized care plans.</li>
                <li><i class="fa-solid fa-circle-check success"></i> Affordable pricing.</li>
                <li><i class="fa-solid fa-circle-check success"></i>Trusted by hundreds of families in Jaipur.</li>
            </ul>
        </div>
    </div>
    <%- include('../partials/midsection.ejs') %>
    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/book-popup.ejs') %>
    <%- include('../partials/javaScript.ejs') %>
</body>

</html>